@model MszCool.Samples.PodIdentityDemo.ResourcesFrontend.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code><br/>
        <strong>Details: </strong> <code>@Model.DetailedMessage</code>
    </p>
}